@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
    --background: white;
    --text-primary: black;
    --filled-text-primary: white;
    --background-primary: #433d9d;
    --background-secondary: #48799e;
    --background-tertiary: #afb5af;
    --background-danger: #e82a00;
    --black: #000000;
    --red: #ee0000;
    --green: #00dd5f;
    --yellow: #aaaa00;
    --blue: #6495ed;
    --magenta: #ee00ee;
    --cyan: #008888;
    --slateblue: #6d8be8;
    --plum: #8f29cf;
    --salmon: #fa8072;
    --white: #ffffff;
    --orange: #ff7700;
}

[data-theme="dark"] {
    --background: #1f1f1f;
    --text-primary: white;
    --filled-text-primary: white;
    --background-primary: #433d9d;
    --background-secondary: #48799e;
    --background-tertiary: #afb5af;
    --background-danger: #e82a00;
    --black: #000000;
    --red: #ee0000;
    --green: #00ff7f;
    --yellow: #fafad2;
    --blue: #6495ed;
    --magenta: #ee00ee;
    --cyan: #00eeee;
    --slateblue: #6d8be8;
    --plum: #af99ef;
    --salmon: #fa8072;
    --white: #ffffff;
    --orange: #ff7700;
}

body {
    font-family: "Roboto", sans-serif;
}

a {
    color: var(--text-primary);
}

.documentation > p {
    margin-left: 1em;
}

.App {
    background-color: var(--background);
    scrollbar-width: thin;
    scrollbar-color: var(--background-secondary) var(--background);
    scrollbar-gutter: stable;
}

.material-symbols-rounded {
    font-variation-settings:
        "FILL" 1,
        "wght" 400,
        "GRAD" 0,
        "opsz" 24;
}

.interactive {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
    cursor: pointer;
}

.interactive:hover {
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
}

.interactive:active,
.interactive:focus,
.interactive[data-focused="true"] {
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
}

.interactive:disabled,
.interactive[data-disabled="true"] {
    opacity: 0.5;
    box-shadow: 0px 0px 0px black;
    cursor: not-allowed;
}

.section_title {
    font-size: medium;
}

.section_check {
    color: var(--text-primary);
    font-size: medium;
    cursor: pointer;
}
.section_check:hover {
    text-decoration: underline;
}

.section_check.checked,
.section_title.checked {
    color: grey;
    text-decoration: line-through;
    list-style-type: none;
    font-weight: lighter;
}

/* * {
    outline: 1px solid #f00 !important;
  } */
