@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
    --background: white;
    --text-primary: black;
    --filled-text-primary: white;
    --background-primary: #433d9d;
    --background-secondary: #48799e;
    --background-tertiary: #afb5af;
    --background-danger: #e82a00;
    --black: #000000;
    --red: #EE0000;
    --green: #00FF7F;
    --yellow: #FAFAD2;
    --blue: #6495ED;
    --magenta: #EE00EE;
    --cyan: #00EEEE;
    --slateblue: #6D8BE8;
    --plum: #AF99EF;
    --salmon: #FA8072;
    --white: #FFFFFF;
    --orange: #FF7700;
}

[data-theme="dark"] {
    --background: #1f1f1f;
    --text-primary: white;
    --filled-text-primary: white;
    --background-primary: #433d9d;
    --background-secondary: #48799e;
    --background-tertiary: #afb5af;
    --background-danger: #e82a00;
    --black: #000000;
    --red: #EE0000;
    --green: #00FF7F;
    --yellow: #FAFAD2;
    --blue: #6495ED;
    --magenta: #EE00EE;
    --cyan: #00EEEE;
    --slateblue: #6D8BE8;
    --plum: #AF99EF;
    --salmon: #FA8072;
    --white: #FFFFFF;
    --orange: #FF7700;
}

body {
    font-family: "Roboto", sans-serif;
}

a {
    color: var(--text-primary);
}

.documentation > p {
    margin-left: 1em;
}

.App {
    background-color: var(--background);
}

.material-symbols-rounded {
    font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24;
}

.interactive {
    box-shadow: 3px 4px 0px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.interactive:hover {
    box-shadow: 1px 2px 0px rgba(0, 0, 0, 0.5);
}

.interactive:active,
.interactive:focus,
.interactive[data-focused="true"] {
    box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
}

.interactive:disabled,
.interactive[data-disabled="true"] {
    opacity: 0.5;
    box-shadow: 0px 0px 0px black;
    cursor: not-allowed;
}

.section_title {
    border-bottom: 1px solid var(--text-primary);
    width: 50%;
    font-size: medium;
}

.section_check {
    color: var(--text-primary);
    font-size: medium;
    cursor: pointer;
}
.section_check:hover {
    text-decoration: underline;
}

.section_check.checked,
.section_title.checked {
    color: grey;
    text-decoration: line-through;
    list-style-type: none;
    font-weight: lighter;
}

/* * {
    outline: 1px solid #f00 !important;
  } */